* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #e1e1e1;
    color:#465b52;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 40px;
    line-height: 54px;
    color: #222;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #E3E6f3;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 20px;
}

#header a img {
    width: 70px;
    height: 70px;
}

.image a img {
    width: 300px;
    height: 300px;
}

button.normal:hover {
    background-color: #088178;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #E3E6f3;

    z-index: 1000;
    top: 0;
    left: 0;
}

#header a img {
    border-radius: 45%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: all 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    left: 20px;
    bottom: -4px;
}

/* homepage */
#page {
    background-image: url('https://i.ibb.co/ZccxcZM/flower1.jpg');
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    background-position: top 25% right 0;
    display: flex;

    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}



#page h1 {
    color: #fff;
    
}


#page p {
    color: #fff;
    font-size: 20px;
}

#page #para {

    text-align: center;
}

#temp1 {
    display: flex;
    border: 1px solid #c9cbce;
    padding: 20px 50px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);


}

#temp1 div {
    margin: 0px 30px;
}

#small-templeate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#temp1 div h3 {
    padding: 5px;
    font-size: 22px;
    font-family: monospace;
    font-style: italic;
    cursor: pointer;

}

#temp1:hover {
    background-color: #c9cbce;
    color: #465b52;
    transform: scale(1.4);
}

#temp1 div span {
    padding: 10px;
}

#line-head {
    text-align: center;
    color: #465b52;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px dotted #465b52;
    margin-bottom: 10px;
}

#image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

}

#decoration {
    margin-top: 20px;
    
}

#decoration #decor {
    position: relative;
        width: 100%;
    height: 20vh;
    background-image: url('https://i.ibb.co/BKdq0D4/decoration.jpg');
    background-size: cover;
    background-position: center;
}

#decor {
    height: 20vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: monospace;

    text-transform: capitalize;

}

#decor h2{
    color: #465b52;
    position: absolute;
    top:20px;
    left:100px;
}
#decor span {
    position: absolute;
    top:80px;
    left:80px;
}

#image-section {
    margin-top: 10px;
}

#image-section #image {

    border: 10px solid #c9cbce;
    width: 300px;
    height: 250px;
}

#image-section #image img {
    width: 100%;
    height: 100%;
}

#image-section #image:hover {
    transform: scale(0.9);
    transition: all 0.5s ease;
}

#image-section #image h3 {
    margin-top: 10px;
    color: #465b52;
}

#new-arraival {
    margin-top: 20px;;
    width: 100%;
    height: 20vh;
    
    background-image: url('https://i.ibb.co/HKjDFs9/flowerbanner1.jpg');
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.06);
    background-repeat: no-repeat;
    background-size: cover;
}

#image-section1 #image img {
    width: 100%;
    height: 100%;
}

#image-section1 #image #w {
    color: #465b52
}

#image-section1 #image #p {
    color: #465b52;
}

#image-section1 #image #r {
    color: #465b52;
}

#image-section1 #image #y {
    color: #465b52;
}

#image-section1 #image:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

#image-section1 #image {
    box-shadow: 20px 20px 24px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    width: 300px;
    height: 250px;
}

#newarraival {

    border: 1px solid #c9cbce;

}

#image-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    ;
}

.section-p12 {
    padding: 10px 30px;

}
#new-arraival h1{
    font-size: 30px;
}
#new-arraival h1,
#new-arraival h3,
#new-arraival h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #465b52;
}

#new-arraival h4 {
    cursor: pointer;
}

#page button {
    /* background-image: url('/images/button.jpg'); */
    background: transparent;
    color: white;
    border: 0;
    padding: 10px 40px 10px 40px;
    background-size: cover;
    border-radius: ;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    
    
}
#page button:hover{
background-color: #e2c5d9;
color:#465b52
}

/* flower */


#flowers .flower {
    background-image: url("https://i.ibb.co/jgFJbwV/flower.jpg");
    width: 40%;
    height: 50vh;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.flower h2 {
    background-color: #fff;

    color: #465b52;
    display: flex;
    justify-content: center;

}

#flowers {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px;


}

.flower-group .flower1 img {

    width: 200px;
}

.flower-group .flower1 .bye-now {
    position: absolute;
    top: 170px;
    left: 90px;
}

.bye-now {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: darkgreen;
    font-weight: 500;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: none;
    cursor: pointer;
}

.flower-group .flower1:hover .bye-now {
    display: block;
    transition: all 0.5s ease;

}

.flower-group .flower1:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.flower-group {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;

}

.flower-group .flower1 {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #c9cbce;
    width: 230px;
    height: 323px;
    margin: 5px;
    position: relative;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.flower-group .flower1 img {
    width: 100%;
}

.flower-group .flower1 .rate {
    position: absolute;
    text-align: center;
}

.flower-group .flower1 .rate h4 {
    color: #465b52;
    padding: 5px;
}

.flower-group .flower1 .rate span {
    color: #465b52;
}

/* -------------image-section-------------- */

#image-section2 {
    margin: 30px;

}

#image-section2 #image {
    position: relative;
    border: 5px solid #c9cbce;
    width: 400px;
    height: 400px;
}

#image-section2 #image img {
    width: 100%;
    height: 100%;
}

#image-section2 #image:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

#image-section2 #image h3 {
    margin-top: 10px;
    color: #465b52;
}

#image-section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

}

#image-section2 #image h3 {
    position: absolute;
    top: 10px;
    right: 10px;
    text-shadow: 4px 4px 20px #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#image-section2 #image:hover h3 {
    color: #088178;
}

/* --------------------------- */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}


#feature .sources {
    width: 150px;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    margin: 15px 0;
    border-radius: 4px;

}

#feature .sources img {
    width: 100%;

}

#feature .sources h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(225, 108, 45);
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}

#feature .sources:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .sources:nth-child(2) h6 {
    background-color: #2e9ed1;
}

#feature .sources:nth-child(3) h6 {
    background-color: #e054a1;
}

#feature .sources:nth-child(4) h6 {
    background-color: #f50c0c;
}

#feature .sources:nth-child(5) h6 {
    background-color: #ebb925;
}

#product {
    text-align: center;
}

#product .pro {
    width: 23%;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;


}

#product P span {
    color: #0db4e7;
    font-size: 16px;
    font-weight: 700;

}

#product .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#product .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
    transition: all 0.5s ease;
    transform: scale(1.1);
}

#product .pro img {
    width: 100%;
    border-radius: 20px;
    position: relative;
}

#product .pro .bye-now {
    position: absolute;
    top: 190px;
    left: 100px;
}

#product .pro:hover .bye-now {
    display: block;

}

#product .pro .desc {
    text-align: start;
    padding: 10px 0;
}

#product .pro .desc span {
    color: #465b52;
    font-size: 12px;
    font-weight: 800;
}

#product .pro .desc h5 {
    color: #465b52;
    padding-top: 7px;
    font-size: 14px;
}

#product .pro .desc i {
    color: #e054a1;
    font-size: 12px;
}

#product .pro .desc h4 {
    color: #465b52;
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
}

#product .pro .cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-weight: 400;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

button.normal-button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #E3E6f3;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 20px;
    position: relative;
    left: 580px;
}

button.normal-button:hover {
    background-color: #088178;
    color: white;
}


/* clock */
#clock {
    text-align: center;

}


#clock .clock-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

#clock h2 {
    text-shadow: -1px 0 rgb(202, 21, 127), 0 1px rgb(207, 20, 163), 1px 0rgb(190, 16, 170), 0 -1px rgb(207, 24, 152);
    color: #e054a1
}

#clock .pro1 {
    width: 20%;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#clock .pro1 img {
    width: 100%;
    border-radius: 20px;
    ;
}

#clock .pro1 .cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-weight: 400;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#clock .pro1 .desc1 h4 {
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
}

#clock .pro1:hover {
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.07);
}

#clock .pro1 .desc1 i {
    color: rgb(230, 230, 62);
    font-size: 12px;
}

#clock .pro1 .desc1 span {
    color: #465b52;
    font-size: 12px;
    font-weight: 800;
}

#clock .pro1 .desc1 {
    text-align: start;
    padding: 10px 0;
}

/* gold */
#gold {
    text-align: center;
}

#gold h2 {
    text-shadow: -1px 0 rgb(27, 194, 186), 0 1px rgb(3, 207, 149), 1px 0 rgb(225, 197, 13), 0 -1px rgb(226, 223, 6);
    color: #088178
}

#gold .gold-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#gold .pro2 {
    width: 20%;
    min-width: 150px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#gold .pro2 img {
    width: 100%;
    border-radius: 20px;
    ;
}

#gold .pro2 .cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-weight: 400;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#gold .pro2 .desc2 h4 {
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
}

#gold .pro2 .desc2 {
    text-align: start;
    padding: 10px 0;
}

#gold .pro2:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

#gold .pro2 .desc2 span {
    color: #465b52;
    font-size: 12px;
    font-weight: 800;
}

#gold .pro2 .desc2 i {
    color: rgb(230, 230, 62);
    font-size: 12px;
}

/* BANNER */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('/images/flowerbanner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-position: center;
    position: relative;
}

#banner h1 {
    position: absolute;
    top: 40px;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}

#banner p {
    position: absolute;
    top: 90px;
    font-size: 20px;
    color: brown;
}

#banner .normal {
    position: absolute;
    top: 140px;
}

/* ---------------- */
#collection {
    width: 100%;
    height: 20vh;
    background-image: url('https://i.ibb.co/F8868M8/collection.jpg');
    background-size: cover;
    position: relative;
    background-position: center;
    margin: 0 20px;
}

#collection h2 {
    position: absolute;
    top: 20px;
    right: 190px;
    color: #fff;
    font-size: 2rem;
}

#collection p {
    position: absolute;
    top: 70px;
    right: 130px;
    color: #fff
}

/* category */
#category {
    text-align: center;
    margin-top: -4%;
}



#category .pro3 {
    width: 20%;
    min-width: 270px;
    border: 1px solid #cce7d0;
    height: 30%;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
margin-left: 1px;
    transition: 0.2s ease;
    position: relative;
}

#category .pro3 img {
    width: 100%;

}

#category .pro3 .desc3 {
    background-color: #f1f3f1;
    padding: 20px;
    border: 10px solid #465b52;
    border-top: none;

}

#category .pro3:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}


#category .pro3 .desc3 h5 {
    text-align: start;
    color: #465b52;
}

#category .pro3 .desc3 h3 {
    color: #465b52;
    font-size: 20px;
    font-weight: 900;
    text-align: start;
}

#category .pro3 .desc3 .cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    color: #465b52;
    padding: 5px;

}

#category .pro3:hover .bye-now {
    display: block;
    transition: all 0.5s ease-in-out;

}

#category .special-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.special-category {
    margin-top: 30px;
}

#category .pro3 .bye-now {
    position: absolute;
    top: 180px;
    left: 100px;
}

/* summer collection */
#summer {
    text-align: center;
}

#summer h1 {
    text-shadow: -1px 0 rgb(246, 17, 212), 0 1px rgb(193, 17, 160), 1px 0 rgb(163, 16, 153), 0 -1px rgb(208, 25, 187);
    color: rgb(240, 31, 223);
}

#summer .pro4 {
    width: 10%;
    min-width: 200px;

    border: 1px solid #cce7d0;
    height: 30%;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#summer .pro4 img {
    width: 100%;

}

#summer .pro4 .desc4 {
    background-color: #f1f3f1;
    padding: 20px;
    border: 10px solid rgb(233, 57, 206);
    border-top: none;
}

#summer .pro4:hover {
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.09);
}

#summer .pro4 .desc4 h5 {
    text-align: start;

}

#summer .pro4 .desc4 h3 {
    font-size: 20px;
    font-weight: 900;

}

#summer .pro4 .desc4 .cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    color: #465b52;
    padding: 5px;

}

#summer .summer-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.summer-category {
    margin-top: 50px;
}

/* --------small banners---------- */
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
margin-top: -4%;
}

#sm-banner .banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('https://i.ibb.co/Gc8PV4j/combo1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 560px;
    height: 50vh;
    background-position: center;
}

.banner-box h3 {
    color: white;
    padding-left: 25%;
}

.banner-box h2 {
    color: #465b52;
    padding-left: 30%;
}

.banner-box h4 {
    padding-left: 32%;
    margin-top: 10px;
    color: white;
}

.banner-box h1 {
    padding-left: 30%;
    margin-top: 10px;
    color: #ebb925;
}

.banner-box button.normal {

    background-color: rgb(215, 84, 172) !important;
    border: none;
    color: white !important;

}

#sm-banner .banner-box-banner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('https://i.ibb.co/p1r0Tg5/combo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 560px;
    height: 50vh;
    background-position: center;
}

.banner-box-banner2 h2 {
    color: #f7f7f7;
    margin-bottom: 30px;
}

.banner-box-banner2 h3 {
    color: white;

}

.banner-box-banner2 h3 i {
    color: #7dceec;
}

.banner-box-banner2 h4 i {
    color: white;

}

.banner-box-banner2 button {
    position: relative;
    left: 20px;
    top: 17%;
}

.banner-box-banner2 button.normal {
    background-color: #e054a1 !important;
    border: none;
    color:#fff;
}

.banner-box-banner2 button.normal {

    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: transparent;
    color: #e0dddd;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
    margin-top: 20px;
}

.banner-box-banner2 h1 {
    color: #4bb87f;
}

.banner-box button.normal {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: transparent;
    color: #0fc6e3;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
    margin-top: 20px;
}

/* ---------Newsletter---------- */

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('https://i.ibb.co/RpbHbQq/newsletter.png" ');


    background-size: cover;
    width: 100%;
    height: 30vh;

}

#newsletter .newstext h4 {
    font-size: 24px;
    font-weight: 700;
    color: #465b52;
}

#newsletter .newstext p {

    font-weight: 500;
    color: #465b52;
}

#newsletter .newstext p span {


    color: rgb(226, 192, 139);
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    outline: none;
    margin-bottom: 10px;
    background-color: #E3E6f3;
}


#newsletter .inputtext .but {
    font-size: 12px;
    height: 50px;
    padding: 0 30px;
    background-color: #1cd3f3;
    color: #000;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}

#newsletter .inputtext {
    display: flex;
    width: 40%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;

}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow .socialicon i {
    cursor: pointer;
    padding-right: 4px;
    color: #465b52;
}

footer .install .row img {
    border: 1px solid #088178;

}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

.copyright {
    background-color: #e2c5d9;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright span {
    color: #ebb925;
}

.mobile {
    display: none;
    align-items: center;
}

/* --------------------shop------------------------ */
#search {
    width: 50%;
    margin-left: 30%;
}

#search input {
    width: 80%;
    height: 40px;

}

#find {
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    outline: none;
    border: 3px solid #E3E6f3;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);

}

#page-header {
    background-image: linear-gradient(rgba(0, 0, 50, 0.3), rgba(0, 0, 50, 0.3)), url("https://i.ibb.co/6sLdxQY/b2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;

    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h3,
#page-header h2,
#page-header p {
    color: white;

}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    border-radius: 4px;
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* ----------------------------singal product-------------------- */
#productdetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
    /* display:flex; */
}

#productdetails .single-pro-image img:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
}

.small-image-group {
    display: flex;
    justify-content: space-between;
}

#productdetails {
    display: flex;
    margin-top: 20px;
}

#productdetails .singal-pro-details {
    width: 50%;
    padding-top: 30px;

}

#productdetails .singal-pro-details h4 {
    padding: 40px 0 20px 0;
    color: #465b52;

}

#productdetails .singal-pro-details h6 {
    color: #465b52;
}

#productdetails .singal-pro-details h2 {
    font-style: 26px;
    color: #465b52;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#productdetails .singal-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
    color: #465b52;
}

#productdetails .singal-pro-details input.number {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-style: 16px;
    margin-right: 10px;
    outline: none;
    color: #465b52;
}

#productdetails .singal-pro-details #input {
    margin: 20px;

}

#productdetails .singal-pro-details button {
    background-color: #088178;
    color: #fff;
}

#productdetails .singal-pro-details span {
    line-height: 25px;
    color: #465b52;
}

#new-arraival1 {
    margin-top: 20px;
    ;
    width: 100%;
    height: 20vh;
    background-image: url('https://i.ibb.co/Y3kC18Q/sproduct.webp');
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.06);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#new-arraival1 h1,
#new-arraival1 h3,
#new-arraival1 h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #465b52;

}

/* -------------blog----------- */

#page-header.blog-header {
    background-image: url('https://i.ibb.co/DWJYHtm/blogbanner.jpg');

}

#page-header.blog-header h2 {
    color: #f4f7f6;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;

}

#blog img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-style: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1.5px;
    background-color: #000;
    position: absolute;
    ;
    top: 10px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #0db4e7
}

#blog .blog-details a:hover::after {
    background-color: #0db4e7;
}

#blog .blog-box h1 {
    position: absolute;
    top: -45px;
    left: 0;
    font-style: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
    font-size: 50px;
}

/* ------------------------aboutus------------------- */
#page-header.about-header {
    background-image: url('https://i.ibb.co/dLW9wx1/aboutbanner.webp');
    height: 40vh;
    position: relative;
}

#page-header.about-header h2 {
    position: absolute;
    left: 100px;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;

}

#about-head img {
    width: 40%;
    height: auto;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app div {
    margin-top: 50px;
}





/* --------------contact--------------- */
#page-header.contact-header {
    background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url("/images/contact1.jpg");
    ;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;

    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;

}

#contact-details .details li i {
    font-size: 14px;

    padding-right: 22px;
}

#contact-details .details li p {
    font-size: 14px;
    margin: 0;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: white;
}

#form-details .people div img {

    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

/* ------------------cart------------------ */

#cart table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart {
    overflow-x: auto;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table thead td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button {
    background-color: #088178;
    color: white;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


/* --------------------------------------- */
  @media(max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li {
        margin-bottom: 25px;

    }

    #navbar.active {
        right: 0px;
    }

    #mobile {
        display: flex;
        align-items: center;

    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #1a1a1a;
        font-size: 24px;
        display: initial;
        text-decoration: none;
    }

    #header {

        padding: 10px 30px;

    }

    #lg-bag {
        display: none;
    }

    #page {

        height: 70vh;

        padding: 0 80px;
        background-position: top 30% right 30%;

    }

    #feature {
        justify-content: center;
    }

    #feature .sources {
        margin: 10px 10px;
        width: 200px;
    }

    #product .pro-container {
        justify-content: center;

    }

    #product .pro {
        width: 30%;
        margin: 10px;
        min-width: 300px;
    }

    #clock .clock-container {

        justify-content: center;

    }

    #clock .pro1 {

        margin: 30px;

    }

    #banner {

        height: 20vh;

    }

    #category .special-category {

        justify-content: center;

    }

    #category .pro3 {
        width: 30%;
        margin: 20px;
        min-width: 300px;
    }

    #sm-banner .banner-box {

        min-width: 100%;
        height: 40vh;

    }

    #sm-banner .banner-box-banner2 {

        min-width: 100%;
        height: 40vh;

    }

    #newsletter .inputtext {

        width: 70%;
    }

    /* ------contact------------ */
    #form-details {
        padding: 40px;
    }

    #temp1 {
        margin: 20px;
        padding: 10px 10px;

    }

    #small-templeate {


        justify-content: center;

    }

    #image-section {

        justify-content: center;

    }

    #image-section #image {
        margin: 20px;

    }

    #new-arraival {
        margin-top: 0px;

    }

    #new-arraival h1,
    #new-arraival h3,
    #new-arraival h4 {
        margin-top: 10px;
    }

    #image-section1 {

        justify-content: center;

    }

    #image-section1 #image {
        margin: 20px;
    }

    #flowers .flower {


        height: 65vh;

    }

    #image-section2 {

        justify-content: center;

    }

    #image-section2 #image {

        width: 600px;
        height: 600px;
        margin: 20px;
    }

    #collection {

        height: 30vh;

    }

    #sm-banner .banner-box {
        margin-bottom: 10px;
    }

    #page-header {

        height: 20vh;

    }

    #search {
        width: 90%;
        margin-left: 20px;
    }

    #blog {
        padding: 40px 40px 0 40px;
    }

    #page-header.about-header {

        height: 20vh;

    }

    #page-header.about-header h2 {

        left: 500px;

    }

    #about-head img {
        width: 50%;
    }

} 

@media (max-width:477px) {

    .section-p12 {
        padding: 10px 10px;
    }
    #header {
        padding: 10px 30px;

    }

    #page {
        padding: 0 10px;
        background-position: center;
        line-height: 2px;
    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .section-p1 {
        padding: 20px;
    }

    
    #product .pro-container {
        
        
        justify-content: center;
    }

    #image-section {

        justify-content: space-between;

    }

    #image-section #image {
       width:175px;
       height:200px;
        margin: 10px 0;
    }
    #image-section #image h3 {
        margin-top: 5px;
        color: #465b52;
        font-size: 13px;
    }
    #new-arraival {
        margin-top: -3%;
    }

    #image-section1 {
 justify-content: center;
       margin-top: -2%;
    }

    #image-section1 #image {
        width:170px;
        margin: 20px 3px;
        height: 170px;
        
    }
    #image-section1 #image #w {
        color: #465b52;
        font-size: 13px;
    }
    #image-section1 #image #p {
        color: #465b52;
        font-size: 13px;
    }
    #image-section1 #image #r {
        color: #465b52;
        font-size: 13px;
    }
    #image-section1 #image #y {
        color: #465b52;
        font-size: 13px;
    }
    #flowers .flower {

        width: 100%;
height:300px;
margin-top:-20%;
    }

    #image-section2 {

        justify-content: center;
margin-top: -3%;
margin:10px;
    }

    #image-section2 #image {
        width: 350px;
        height: 250px;
        margin: 5px;
    }
    .flower h2 {
        background-color: #fff;
        color: rgb(243, 181, 181);
        display: flex;
        justify-content: center;
    }
    #clock .pro1 {
        width: 100%;

    }
    #temp1:hover {
        
        transform: scale(1.1);
    }
    
    #temp1 {
width:100%;
        margin: 5px 10px;

    }

    #collection {
        width: 90%;
        height: 20vh;
        
    }

    #collection h2 {
        font-size: 15px;
        top: 40px;
        right: 30px;

    }

    #collection p {
       font-size: 10px;;
        top: 80px;
        right: 5px;

    }

    #banner {

        width: 90%;
        height: 20vh;
        margin-left: 30px;
    }

    #sm-banner .banner-box {

        height: 30vh;
        margin-top: -5%;
    }

    #sm-banner .banner-box-banner2 {
        margin-top: 20px;
        height: 30vh;
    }
    #sm-banner{
        position: relative;
    }
    .banner-box-banner2 button.normal {
        top:350px;
        padding: 10px 25px;
        position: absolute;
       
        left:80px;
    }
    .banner-box button.normal {
        
        padding: 10px 20px;
        background-color: transparent;
        
        
    }
    .banner-box h2 {
        color: #465b52;
        padding-left: 30%;

    }
    #newsletter .inputtext {

        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    /* blog page */

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #page-header.about-header {

        height: 25vh;

    }

    #page-header.about-header h2 {

        left: 20px;

    }

    #page-header {

        height: 25vh;

    }

    #blog {
        padding: 0px 20px 0 20px;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;

    }

    #blog .blog-details {
        width: 100%;
    }

    #page-header.blog-header h2 {
        margin-top: -50px;

    }

    #new-arraival h1,
    #new-arraival h3,
    #new-arraival h4 {
        margin-top: 0px;
        color: #465b52;
        font-size: 15px;
    }

    #new-arraival {
        width: 100%;
    }

    #flowers {
        display: block;
        margin-top: 0px;
        ;
    }

    .flower-group .flower1 {

        width: 100px;
        height: 150px;
    }

    .flower-group .flower1 .rate h4 {
        color: #465b52;
        padding: 5px;
        font-size: 10px;;
    }
    .flower-group .flower1 .rate span {
        color: #465b52;
        font-size: 10px;;
    }
    .flower-group .flower1 .bye-now {
        position: absolute;
        top: 50px;
        left: 30px;
        padding:2px;
        font-size: 10px;
        border-radius: 5px;
    }
    /* .bye-now {
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: darkgreen;
        font-weight: 500;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        display: none;
        cursor: pointer;
    } */
     #decor h2
    {
        left:50px;
        top:10px;
        color:#465b52;
        font-size: 20px;
    }
    #decor span {
        left:40px;
        top:50px;
        color:#465b52
    }
    #category {
        margin-top: -10%;;
    }
    #category .pro3 .bye-now {
        position: absolute;
        top: 180px;
        left: 120px;
    }
    #category .special-category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    #category .pro3 {
        width: 20%;
        margin: 5px;
        min-width: 155px;
    }
    #category .pro3 .bye-now {
        
        top: 100px;
        left: 40px;
    }
    #category .pro3 .desc3 {
       
        padding: 10px;
        border: 3px solid #465b52;
        border-top: none;
    }
    #category .pro3 .desc3 h5 {
       font-size: 10px;
    }
    #category .pro3 .desc3 h3 {
        
        font-size: 10px;
        
    }
    #decoration #decor {
        width: 100%;
        height: 15vh;
        
    }
    

    #about-head {
        flex-direction: column;

    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0;
    }

    

    #contact-details {

        flex-direction: column;

    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;

    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }


    #cart-add {
        flex-direction: column;
    }

    #cart-add #coupon {
        width: 100%;
    }

    #cart-add #subtotal {
        width: 100%;
        padding: 20px;
    }

    #productdetails {

        display: block;
    }

    #productdetails .single-pro-image {
        width: 100%;

    }

    #productdetails .singal-pro-details {
        width: 100%;

    }

    #feature .sources {
        margin: 5px;
        width: 100px;
    }
    #feature {
        
        justify-content:space-between;
        
    }
}  
 

@media (max-width:600px) {
     
    
    #new-arraival {
        width: 100%;
        height:20vh;
    }

    #new-arraival h1,
    #new-arraival h3,
    #new-arraival h4 {
        margin-top: 0px;
    }

    #image-section {
        
        justify-content: center;
        
       
    }
    #image-section #image {
        width: 155px;
        
    }
    #image-section1 #image {
        width: 160px;
        
    }
    .flower-group {
        
        
    }
    .flower-group .flower1 {
       
        
        width: 150px;
        height: 200px;
        
        
    }
    .flower-group .flower1 .bye-now {
        
        top: 100px;
        left: 50px;
        padding: 3px;
        
    }
    #image-section2 #image {
        
        height: 280px;
        
    }
    #collection {
        width: 90%;
        height: 10vh;
    }
    #collection h2 {
        font-size: 10px;
        top: 5px;
        right: 30px;
    }
    #collection p {
        font-size: 10px;
        top: 30px;
        right: 5px;
    }
    #category .special-category {
        
        justify-content: center;
        
    }
    #category .pro3 {
        width: 20%;
        
        min-width: 150px;
    }
    h1{
        font-size: 20px;
    }
  h3{
    font-size: 1rem;
  }
  #feature {
    justify-content: center;
}
#feature .sources {
    margin: 5px;
    width: 150px;
}
.section-p1{
    padding:20px;
}
.section-m1{
    margin:0px 0px;
}
#flowers .flower {
    width: 100%;
    height: 300px;
    margin-top: -10%;
}
}

